.CarouselContainer {
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    align-content: flex-start;
    width: 100vw;
    overflow-x: hidden;
}

.SlidesContainer {
    display: flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    align-content: flex-start;
    margin: 0 6%;
    width: 100vw;
    overflow-x: hidden;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}