.TitleInputContainer {
  padding: 0;
  margin-top: 15px;
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  justify-content: space-around;
  height: 30px;
}

.TitleInput {
  flex: 13;
  margin: 0 15px;
  border: 1px #000000 solid;
}

.TitleInputSubmit {
  flex: 1;
  margin: 0 15px;
  border: 1px #000000 solid;
  background-color: #FFFFFF;
}